.contacts
    ul.contacts-list
        li.contacts-list__item
            img(src="img/clock.png" data-aos="fade-up" data-aos-duration="1500")
            span Режим работы
            ul
                li ПН-ЧТ: с 10:00 – 22:00
                li Пт-Сб/праздники: 10:00 – 23:00
                li Вс: 10:00 – 22:00
        li.contacts-list__item
            img(src="img/locate.png" data-aos="fade-up" data-aos-duration="1500")
            span Наш Адрес
            ul
                li МОСКВА, ПРЕНЕСЕНСКАЯ НАБ., Д.2
                li
                    i
                      img(src="img/metro.png")
                    | &laquo;ВЫСТАВОЧНАЯ&raquo;,
                    i
                      img(src="img/metro.png")
                    | &laquo;ДЕЛОВОЙ ЦЕНТР&raquo;
        li.contacts-list__item
            img(src="img/phone-call.png" data-aos="fade-up" data-aos-duration="1500")
            span Наш Телефон
            a(href="tel:+7 (495) 258-36-22").ga-phone.byyd +7 (495) 258-36-22
    img(src="img/map.jpg").contacts-map
    img(src="img/boots.png", alt="", data-aos="fade-down-right" data-aos-duration="2000").contacts__boots
    img(src="img/garden.png", alt="", data-aos="zoom-in" data-aos-duration="2000").contacts__garden
