footer.main-footer
  ul.main-footer__soc-list
      li.soc-list__item(data-aos="flip-up" data-aos-duration="2000")
        a(href="https://vk.com/afimall_city" target="_blank").ga-social.byyd
      li.soc-list__item(data-aos="flip-up" data-aos-duration="2000")
        a(href="https://www.instagram.com/afimall/" target="_blank").ga-social.byyd
      li.soc-list__item(data-aos="flip-up" data-aos-duration="2000")
        a(href="https://www.facebook.com/AFIMALL/" target="_blank").ga-social.byyd
      li.soc-list__item(data-aos="flip-up" data-aos-duration="2000")
        a(href="https://twitter.com/AfimallCity" target="_blank").ga-social.byyd
  a(href="tel:+7 (495) 258-36-22").ga-phone.byyd +7 (495) 258-36-22
  p
    | * Распродажа. Сроки проведения акции с 26.05.2017 г. по 28.05.2017 г. Информация об организаторе акции, сроках 
    | и правилах ее проведения, количестве подарков, сроках, месте и порядке их получения можно узнать на сайте 
    a(href="https://www.afimall.ru" target="_blank") www.afimall.ru

    
    
