- var br = '<br />'
section.gift-descr
  h1 
    | фестиваль!{br}
    span шоппинга
  img(src="img/cost-img.png", alt="", data-aos="fade-up-left", data-aos-duration="2000").gift-descr__cost
  .gift-descr__date
    p
      | 26-28 мая
  h3 
    | грандиозная!{br}
    span распродажа
  .gift-desct__fence
