section.take-gift
  ul.take-gift__list(data-aos="flip-left" data-aos-duration="2000")
    li
      img(src="img/stairs.png")
      span 5
      |  этажей шоппинга
    li
      img(src="img/bag.png")
      span 450
      |  магазинов
    li
      img(src="img/food.png")
      span 50
      |  ресторанов и кафе
    li
      img(src="img/camera.png")
      span 7 
      |  кинозалов и многое другое
  .take-gift__about
    p 
      | За&nbsp;покупки&nbsp;на&nbsp;фестивале&nbsp;шоппинга 
      | вы&nbsp;можете&nbsp;накопить 
      | баллы&nbsp;в&nbsp;мобильном&nbsp;приложении
      | и получить тысячи гарантированных призов
  .take-gift__btn
    a(href="https://itunes.apple.com/ru/app/afimall-city/id880093759?mt=8" data-aos="fade-right" data-aos-duration="2000").apple-btn.ga-appstore.byyd
      img(src="img/apple.png")
    a(href="https://play.google.com/store/apps/details?id=com.afimall.apps.android&hl=ru" data-aos="fade-left" data-aos-duration="2000").google-btn.ga-googleplay.byyd
      img(src="img/google.png")
  .take-gift__video
    <iframe src="https://www.youtube.com/embed/KUtpmk84DTU" frameborder="0" allowfullscreen></iframe>
